<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RHEL Update Information</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            page-break-inside: avoid;
        }

        th {
            background-color: #f2f2f2;
        }

        h1 {
            color: red; /* Set h1 text color to red */
        }
    </style>
</head>
<body>
    <h1><span><img src="Windows.png" alt="Windows Logo" style="height: 2em; vertical-align: middle;"></span>  Windows Update Information</h1>
    <p><strong>Operating System:</strong> {{ ansible_distribution }} {{ ansible_distribution_version }}</p>
    <p><strong>Hostname:</strong> {{ ansible_hostname }}</p>
    <p><strong>IP address:</strong> {{ ansible_default_ipv4.address }}</p>
    <p><strong>Report generated time:</strong> {{ ansible_date_time.time }} {{ ansible_date_time.date }}</p>

    <h2>List of Updateable Packages:</h2>
    <table>
        <thead>
            <tr>
                <th>Package Name</th>
                <th>Version</th>
                <th>Repo</th>
            </tr>
        </thead>
        <tbody>
            {% for package in updateable_packages.results %}
            <tr style="page-break-inside: avoid">
                <td>{{ package.name }}</td>
                <td>{{ package.version }}</td>
                <td>{{ package.repo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>